
.contacts {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contacts__item {
  display: inline-block;
}

.contacts__link {
  display: flex;
  align-items: center;
  gap: 10px;

  padding-top: 32px;
  padding-bottom: 32px;

  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color);

  transition: color 250ms var(--timing-function);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--comon-blue);

  transition: color 250ms var(--timing-function);
}

.contacts__icon {
  fill: currentColor;
}