
.features {
  padding: 94px 0 94px 0;
}

.features__list {
  display: flex;
  gap: 30px;
}

.features__item {
  min-width: 270px;
}

.features__item::before {
  display: block;
}

.features__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--third-background-color);
}

.feature__subtitle {
  text-transform: uppercase;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  margin-top: 30px;
  border-radius: 4px;
}

.feature__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}